@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "Danh sách đơn hàng";
}
<a asp-action="Add" asp-controller="Order">Thêm đơn hàng</a>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Id đơn hàng</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Mã khách hàng</th>
            <th scope="col">Thời gian đặt hàng</th>
            <th scope="col">Tổng giá tiền</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Chỉnh sửa</th>
            <th scope="col">Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <th scope="row">@order.OrderId</th>
                <td>@order.OrderCode</td>
                <td>@order.CustomerId</td>
                <td>@order.OrderDate</td>
                <td>@order.TotalAmount.ToString("#,##0 VNĐ")</td>
                <td>@order.Status</td>
                <td><a class="btn btn-warning" asp-action="Edit" asp-controller="Order" asp-route-BookTypeId="@order.OrderCode">Chỉnh sửa</a></td>
                <td><a class="btn btn-danger confirmDeletion" asp-action="Remove" asp-controller="Order" asp-route-BookTypeId="@order.OrderCode">Xóa</a></td>
            </tr>
        }

    </tbody>
</table>
